{% extends 'sidebar.html' %}
{% load static %}
{% block title %} Consumption Data Upload{% endblock %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block links %}
<li class="breadcrumb-item active">Consumption Data Upload</li>
{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title">
						<div class="row">
							<div class="col-3">
								<h5>File Uploads</h5>
							</div>
							<div class="col-9">
								<a class="pull-right btn btn-outline-secondary" 
									href="{% static 'files/monthly.xlsx' %}" download>
									<i class="fa fa-download"></i>
									Monthly Sample
								</a>
								<a class="pull-right btn btn-outline-secondary" 
									href="{% static 'files/hourly.xlsx' %}" download>
									<i class="fa fa-download"></i>
									Hourly Sample
								</a>
							</div>
						</div>
						<hr>
					</div>

					<div class="card-body" style="
							 position:relative;
							 right:20px!important;" >

						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}

								<div class="form-row">
									<div class="col-4">
										<div class="form-group">
											<label for="">Frequency</label>
											<div>
											<select class="custom-select" name="frequency">
											<option value="hh">HH</option>
											<option value="hour">Hourly</option>
											<option value="daily">Daily</option>
											<option value="weekly">Weekly</option>
											<option value="monthly">Monthly</option>
											<option value="yearly">Yearly</option>
											</select>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group">
											<label for="">Type A/F</label>
											<div>
											<select class="custom-select" name="type">
											<option value="actual">Actual</option>
											<option value="forcasted">Forecasted</option>
											</select>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group">
											<label for="">Commodity</label>
											<div>
											<select class="custom-select" name="commodity">
											<option value="power">Power</option>
											<option value="gas">Gas</option>
											</select>
											</div>
										</div>
									</div>
								</div>
								<br>
								
							<div class="master">
							<label for="id_excel_file">Custom Field Upload</label>
							<span class="asteriskField">*</span>
							<br>
							
							<input type="file"
                   title="Upload excel file"
                   name="file"
                   style="border: 1px solid gray; padding: 5px;
									 border-radius:4px;"
                   required="required"
									accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
									 >

							<input type="submit" name="master" value="Upload" class="btn btn-outline-secondary">

							</div>
						</form>


						<div class="results mt-4">
							{% if results %}
							{% for result in results %}
							<strong>
								Site : {{result.site}}
							</strong>
							<div class="card">

								<div class="table-responsive">
								<table class="table">


									<thead>
										<tr>
											{% for key, value in result.data.items %}
											<th scope="col">{{key}}</th>
											{% endfor %}
										</tr>
									</thead>

									<tbody>
											{% for val in result.data.values %}
										<tr>
											{% for v in val %}
											<td>{{v}}</td>
											{% endfor %}
										</tr>
											{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
								<br>
								<hr>
								
								
								{% endfor %}
							{% endif %}
						</div>

					</div>
				</div>
			</div>
		</div>
{% endblock content %}
