{% extends 'sidebar.html' %}
{% block links %}
<li class="breadcrumb-item active">Accounts</li>

{% endblock links %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<div class="card shadow">
				<div class="card-body">
					<div class="div-wrapper mb-3">
							<div class="row no-gutters">
								<div class="col-6">
									<h5 class="card-title">Accounts</h5>
									
									</div>
									<div class="col-6">
										<a href="{% url 'cadmin:company_user_add' pk %}" class="btn
											btn-outline-secondary pull-right">Create New</a>
									</div>
								</div>

							</div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Email</th>
								<th scope="col">Name</th>
								<th scope="col">Phone Number</th>
								<th scope="col">Role</th>
								<th scope="col">Site</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for object in profiles %}
							<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{object.user.email}}</td>
								<td>{{object.user.get_full_name}}</td>
								<td>{{object.phone_number}}</td>
								<td>{{object.role }}</td>
								<td>{{object.site }}</td>
								<td>
									<a class="btn btn-outline-secondary" href="{% url 'cadmin:company_user_edit' pk object.user.pk %}"> Edit</a>
									<a class="btn btn-outline-secondary" 
										href="{% url 'cadmin:company_user_change_password' pk object.user.pk %}">change
										Password </a>
									<a class="btn btn-outline-secondary" 
										href="{% url 'cadmin:set_avatar' pk object.user.pk %}">
										{% if object.avatar %}
										Change Avatar
										{% else %}
										Set Avatar
										{% endif %}
									</a>

								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">
							No users yet
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
