{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Company Edit{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card mt-2 shadow">
				<div class="card-body">
					<h5 class="card-title">Edit Company</h5>
					<hr>
					<div class="">
						<form method="POST">
							{% csrf_token %}
							<div class="form-row col-md-12">
									<div class="form-group col-md-6">
												{{form.name|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.address|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.country|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.expiry_date|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.status|as_crispy_field}}
									</div>
							</div>
							<div class="form-group col-12">
								<a class="btn btn-outline-danger" href="{% url 'cadmin:index' %}">Cancel</a>
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock content %}
	{% block javascript %}
	<script>
			$("select").select2({
				theme: 'bootstrap',
				dropdownAutoWidth: true,
				width: 'auto'
			});


	</script>

	{% endblock javascript %}
