{% extends 'sidebar.html' %}
{% load static %}
{% block title %} Custom Upload{% endblock %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block links %}
<li class="breadcrumb-item active">Custom Field Upload</li>
{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title">
						<div class="row">
							<div class="col-6">
								<h5>File Uploads</h5>
							</div>
							<div class="col-6">
								<a class="pull-right btn btn-outline-secondary" 
									href="{% static 'files/custom.xlsx' %}" download>
									<i class="fa fa-download"></i>
									Download Sample
								</a>
							</div>
						</div>
						<hr>
					</div>

					<div class="card-body" style="
							 position:relative;
							 right:20px!important;" >

						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="master">
							<label for="id_excel_file">Custom Field Upload</label>
							<span class="asteriskField">*</span>
							<br>
							
							<input type="file"
                   title="Upload excel file"
                   name="custom_field"
                   style="border: 1px solid gray; padding: 5px;
									 border-radius:4px;"
                   required="required"
									accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
									 >

							<input type="submit" name="master" value="Upload" class="btn btn-outline-secondary">

							</div>
						</form>


						<div class="results mt-4">
							{% if results %}
							{% for result in results %}
							<strong>
								Country : {{result.country}}
							</strong>
							<div class="card">

								<table class="table">


									<thead>
										<tr>
											{% for key, value in result.data.items %}
											<th scope="col">{{key}}</th>
											{% endfor %}
										</tr>
									</thead>

									<tbody>
											{% for val in result.data.values %}
										<tr>
											{% for v in val %}
											<td>{{v}}</td>
											{% endfor %}
										</tr>
											{% endfor %}
									</tbody>
								</table>
							</div>
								<br>
								<hr>
								
								
								{% endfor %}
							{% endif %}
						</div>

					</div>
				</div>
			</div>
		</div>
{% endblock content %}
