{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow mt-3">
				<div class="card-body">
					<div class="div-wrapper mb-3">
							<div class="row no-gutters">
								<div class="col-6">
									<h5 class="card-title">Companies</h5>
									</div>
									<div class="col-6">
										<a href="{% url 'cadmin:company_add' %}" class="btn
											btn-outline-secondary pull-right">Create New</a>
									</div>
								</div>
							</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company</th>
      <th scope="col">Country</th>
      <th scope="col">Status</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
		{% for object in objects %}
    <tr>
			<th scope="row">{{forloop.counter}}</th>
			<td> <a href="{% url 'cadmin:home' object.pk %}">{{object.name}}</a> </td>
			<td>{{object.country}}</td>
			<td>{{object.status}}</td>
			<td>{{object.expiry_date}}</td>
			<td>
				<a class="btn btn-outline-secondary" href="{% url 'cadmin:company_edit' object.pk %}"> Edit</a>
			</td>
    </tr>
		{% empty %}
		No Companies yet
		{% endfor %}
  </tbody>
</table>
				</div>
				</div>
				</div>
		</div>
	</div>
</div>
{% endblock content %}
