{% extends 'sidebar.html' %}
{% load static %}
{% block title %} Master Upload{% endblock %}

{% block links %}
<li class="breadcrumb-item active">Master Upload</li>
{% endblock links %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title">
						<div class="row">
							<div class="col-6">
								<h5>File Uploads</h5>
							</div>
							<div class="col-6">
								<a class="pull-right btn btn-outline-secondary" href="{% static 'files/master.xlsx' %}" download>
									<i class="fa fa-download"></i>
									Download Sample
								</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="card-body" style="
							 position:relative;
							 right:20px!important;" >
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="master">
							<label for="id_excel_file">Master Upload</label>
							<span class="asteriskField">*</span>
							<br>
							
							<input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid gray; padding: 5px; border-radius:4px;"
                   required="required"
									accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
									 >

								<input type="submit" name="master" value="Upload" class="btn btn-outline-secondary">

							</div>
						</form>
					</div>
					{% if data %}
					<div class="card">
						<table class="table">
						{% for object in data %}
						<thead>
							{% if forloop.first %}
							{% for hd in object %}
							<th>{{hd}}</th>
							{% endfor %}
							{% endif %}
						</thead>
						<tbody>
							<tr>
								{% if not forloop.first %}
								{% for dt in object %}
								<td>{{dt}}</td>
								{% endfor %}
								{% endif %}
							</tr>
						</tbody>
						{% endfor %}
						</table>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
