{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} User Add{% endblock %}
{% block links %}
<li class="breadcrumb-item"> 
	<a href="{% url 'cadmin:home' company.pk %}"> Accounts</a> </li>
<li class="breadcrumb-item active">Account Create</li>

{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Add user</h5>
					<hr>

					<div class="">
						<form method="POST">
							{% csrf_token %}
							<div class="form-row col-12">
								{% for field in form %}
							<div class="col-6">
								{{field|as_crispy_field}}
							</div>
							{% endfor %}
							</div>
							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock content %}

{% block javascript %}
<script>

	$(document).ready(function(){

		var site =  $("#id_site");
		var label = $("label[for='id_site']");
		var asterik = '<span class="asteriskField">*</span>'
		var role = $("#id_role").val();

		if (role == 'Super User'){
				$("label[for='id_site'] .asteriskField").remove();
				site.removeAttr("required");
				site.attr("disabled", "disabled"); 
		}

		$("#id_role").change(function(){

			let roleVal = $(this).val();

			if ( roleVal === 'Site Responsible User' ){
				site.attr("required", "required");
				site.removeAttr('disabled');
				label.append(asterik);
			}
			else{
				$("label[for='id_site'] .asteriskField").remove();
				site.removeAttr("required");
				site.attr("disabled", "disabled"); 
			}
		});

	});
</script>
{% endblock javascript %}
