{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} User Edit {% endblock %}
{% block links %}
<li class="breadcrumb-item"> 
	<a href="{% url 'cadmin:home' company.pk %}"> Accounts</a> </li>
<li class="breadcrumb-item active">Account Edit</li>

{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Edit User {{user.email}}</h5>
					<hr>
					<div class="">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="form-row col-md-12">
									<div class="form-group col-md-6">
												{{form.first_name|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.last_name|as_crispy_field}}
									</div>
									<div class="form-group col-6">
												{{profile_form.phone_number|as_crispy_field}}
									</div>
									<div class="form-group col-6">
												{{profile_form.role|as_crispy_field}}
									</div>
									<div class="form-group col-12">
												{{profile_form.site|as_crispy_field}}
									</div>
							</div>
							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
	{% endblock content %}
	{% block javascript %}
	<script>
			$("select").select2({
				theme: 'bootstrap',
				dropdownAutoWidth: true,
				width: 'auto'
			});
		var site =  $("#id_site");
		var label = $("label[for='id_site']");
		var asterik = '<span class="asteriskField">*</span>'
		var selected = site.find('option:selected');

	$(document).ready(function(){

		var role = $("#id_role").val();

		if (role === 'Site Responsible User'){
			site.attr('required', 'required');
			label.append(asterik);
		}
		else{
			$("label[for='id_site'] .asteriskField").remove();
			site.removeAttr("required");
			site.attr("disabled", "disabled"); 
		}

		$("#id_role").change(function(){
			let roleVal = $(this).val();

			if (roleVal === 'Site Responsible User'){
				site.attr("required", "required");
				label.append(asterik);
				site.removeAttr('disabled');
				site.append(selected);

			}
			else{
				$("label[for='id_site'] .asteriskField").remove();
				site.removeAttr("required");
				let siteVal = site.val();
				if (siteVal !== ""){
					selected.remove();
				}
				site.attr("disabled", "disabled");

			}
		});

	});
</script>
{% endblock javascript %}
