{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} Change Password{% endblock %}
{% block links %}
<li class="breadcrumb-item"> 
	<a href="{% url 'cadmin:home' company.pk %}"> Accounts</a> </li>
<li class="breadcrumb-item active">Change Password</li>

{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Change Password for {{user.email}}</h5>
					<hr>
					<div class="">
						<form method="POST">
							{% csrf_token %}

							<div class="form-row col-12">
									<div class="form-group col-12">
										{{form|crispy}}
									</div>
							</div>
							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
	{% endblock content %}
