{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} Change Password{% endblock %}
{% block links %}
<li class="breadcrumb-item"> 
	<a href="{% url 'cadmin:home' company.pk %}"> Accounts</a> </li>
<li class="breadcrumb-item active">Set Avatar</li>

{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Set avatar for {{user.email}}</h5>
					<hr>
					<div class="row">
						<div class="col-6">
							<div class="">
								<form method="POST" enctype="multipart/form-data">
									{% csrf_token %}

									<div class="form-row col-12">
											<div class="form-group col-12">
												{{form|crispy}}
											</div>
									</div>
									<div class="form-group col-12">
											<button class="btn btn-outline-secondary" type="submit">Submit</button>
									</div>
								</form>
							</div>
						</div>
						<div class="col-6">
					{% if profile.avatar %}
					<img src="{{profile.avatar.url}}" alt="Avatar" height="200"
					class="img-responsive">
					{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
	{% endblock content %}
