{% extends 'sidebar.html' %}
{% block title %} Meters {% endblock %}

{% block links %}
<li class="breadcrumb-item active">Meters</li>
{% endblock links %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<div class="card shadow">
				<div class="card-body">
					<div class="div-wrapper mb-3">
							<div class="row no-gutters">
								<div class="col-6">
									<h5 class="card-title">Meters</h5>
									</div>
									<div class="col-6">
										<a href="{% url 'cadmin:company_meter_add' pk %}" class="btn
											btn-outline-secondary pull-right">Create New</a>
									</div>
								</div>
							</div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Number</th>
								<th scope="col">Hh</th>
								<th scope="col">Site</th>
								<th scope="col">Commodity</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for object in objects %}
							<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{object.number}}</td>
								<td>{{object.hh}}</td>
								<td>{{object.commodity.site}}</td>
								<td>{{object.commodity}}</td>
								<td>
									<a class="btn btn-outline-secondary" href="{% url 'cadmin:company_meter_edit' company.pk object.pk %}">Edit</a>
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">
							No meters yet
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
