{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} Meter Edit{% endblock %}

{% block links %}
<li class="breadcrumb-item"> <a href="{% url 'cadmin:company_meters' company.pk %}">Meters</a> </li>
<li class="breadcrumb-item active">Meter Edit</li>
{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Edit Meter {{meter.number}}</h5>
					<hr>

					<div class="">
						<form method="POST">
							{% csrf_token %}

							<div class="form-row col-md-12">
									<div class="form-group col-12">
												{{form.number|as_crispy_field}}
									</div>

									<div class="form-group col-12">
												{{form.commodity|as_crispy_field}}
									</div>
							</div>
							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock content %}
	{% block javascript %}
	<script>
			$("select").select2({
				theme: 'bootstrap',
				dropdownAutoWidth: true,
				width: 'auto'
			});

	</script>

	{% endblock javascript %}
