{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} Meter Create{% endblock %}
{% block links %}
<li class="breadcrumb-item"> <a href="{% url 'cadmin:company_meters' company.pk %}">Meters</a> </li>
<li class="breadcrumb-item active">Meter Create</li>
{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Add Meter</h5>
					<hr>

					<div class="">
						<form method="POST">
							{% csrf_token %}

							<div class="form-row col-md-12">
									<div class="form-group col-md-12">
												{{form.number|as_crispy_field}}
									</div>
									<div class="form-group col-md-12">
										<div id="div_id_site" class="form-group">
												<label for="id_site" class=" requiredField">
														Site<span class="asteriskField">*</span>
												</label>
												<div class="">
												<select name="site" class="select form-control" required="" id="id_site">
											<option value="" selected="">---------</option>
											{% for site in sites_ %}
											<option value="{{site.pk}}">{{site.name}}</option>
											{% empty %}
											<option value="" selected="">---------</option>
											{% endfor %}
										</select>
												</div>
										</div>
									</div>
									<!-- <div class="form-group col-md-12"> -->
									<!--   <div id="div_id_commodity" class="form-group"> -->
									<!--       <label for="id_commodity" class=" requiredField"> -->
									<!--           Commodity<span class="asteriskField">*</span> -->
									<!--       </label> -->
									<!--       <div class=""> -->
									<!--         <select name="commodity" class="select form-control" required="" id="id_commodity"> -->
									<!--         <option value="" selected="">---------</option> -->
									<!--         </select> -->
									<!--       </div> -->
									<!--   </div> -->
									<!-- </div> -->
									<div class="form-group col-md-12">
												{{form.commodity|as_crispy_field}}
									</div>

							</div>
							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock content %}
	{% block javascript %}
	<script>
		$(document).ready(function(){
			$("#id_commodity").empty()
		});
			$("select").select2({
				theme: 'bootstrap',
				dropdownAutoWidth: true,
				width: 'auto'
			});

$("#id_site").change(function(){
	var site_val = $(this).val()
	const uri = "/cadmin/company/" + site_val + "/fetch_commodities";
	$.get(uri, function(data, status){

		$("#id_commodity").empty();
		for(var i=0; i<data.result.length; i++){
			var name = data.result[i].name;
			var pk = data.result[i].pk;
			var option = "<option value="+ pk +">" + name+ "</option>";
				$("#id_commodity").append(option);
		}
  });


})


	</script>

	{% endblock javascript %}
