{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} Divison Create{% endblock %}
{% block links %}
<li class="breadcrumb-item"> <a href="{% url 'cadmin:company_divisions' company.pk %}">Divisions</a> </li>
<li class="breadcrumb-item active">Division Create</li>
{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Add Divison</h5>
					<hr>

					<div class="">
						<form method="POST">
							{% csrf_token %}

							<div class="form-row col-md-12">
									<div class="form-group col-md-12">
												{{form.name|as_crispy_field}}
									</div>
							</div>
							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock content %}
