{% extends 'sidebar.html' %}
{% block title %} Divisions {% endblock %}
{% block links %}
<li class="breadcrumb-item active">Divisions</li>
{% endblock links %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<div class="card shadow">
				<div class="card-body">
					<div class="div-wrapper mb-3">
							<div class="row no-gutters">
								<div class="col-6">
									<h5 class="card-title">Division</h5>
									</div>
									<div class="col-6">
										<a href="{% url 'cadmin:company_division_add' pk %}" class="btn
											btn-outline-secondary pull-right">Create New</a>
									</div>
								</div>
							</div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for object in objects %}
							<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{object.name}}</td>
								<td>
									<a class="btn btn-outline-secondary" href="{% url 'cadmin:company_divison_edit' pk object.pk %}"> Edit</a>
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">
							No divisions yet
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
