{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} Edit Commodity{% endblock %}
{% block links %}
<li class="breadcrumb-item"> <a href="{% url 'cadmin:company_commodities' company.pk %}">Commodities</a> </li>
<li class="breadcrumb-item active">Commodity Edit</li>
{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Edit Commodity {{commodity.name}}</h5>
					<hr>

					<div class="">
						<form method="POST">
							{% csrf_token %}

							<div class="form-row col-md-12">
			<div class="form-group col-md-6">
					<div id="div_id_name" class="form-group">
							
									<label for="id_name" class=" requiredField">
											Name<span class="asteriskField">*</span>
									</label>
											<div class="">
													<input type="text" 
																 disabled="disabled" 
																 maxlength="100" 
																 class="textinput textInput form-control" 
																 required="" 
																 id="id_name"
																value="{{commodity.name}}">
											</div>
					</div>
												</div>


									<div class="form-group col-md-6 mt-5">
												{{form.is_active|as_crispy_field}}
									</div>
							</div>
							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock content %}
	{% block javascript %}
	<script>
			$("select").select2({
				theme: 'bootstrap',
				dropdownAutoWidth: true,
				width: 'auto'
			});


	</script>

	{% endblock javascript %}
