{% extends 'sidebar.html' %}
{% block title %} Commodities {% endblock %}
{% block links %}
<li class="breadcrumb-item active">Commodities</li>
{% endblock links %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<div class="card shadow">
				<div class="card-body">
					<div class="div-wrapper mb-3">
							<div class="row no-gutters">
								<div class="col-8">
									<h5 class="card-title">Commodities</h5>
									</div>
									<div class="col-4">
										<select id="id_site" name="site" class="form-control">
											{% if query %}
												<option value="{{site.pk}}">{{site.name}}</option>
												{% for st in sites %}
														{% if st != site %}
														<option value="{{st.pk}}">{{st.name}}</option>
														{% endif %}
												{% endfor %}

											{% else %}
												<option value="{{first_site.pk}}">{{first_site.name}}</option>
												{% for st in sites %}
														{% if st != first_site %}
														<option value="{{st.pk}}">{{st.name}}</option>
														{% endif %}
												{% endfor %}

											{% endif %}

										</select>
									</div>
								</div>
							</div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Active</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for object in objects %}
							<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{object.name}}</td>
								<td>{{object.is_active}}</td>
								<td>
									<a class="btn btn-outline-secondary" href="{% url 'cadmin:company_commodity_edit' pk object.pk %}"> Edit</a>
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">
							No commodities yet
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block javascript %}
<script>
	$(document).ready(function(){
		$("#id_site").change(function(){
			let val = $(this).val();
			window.location.href="?site=" + val;

		})

			$("select").select2({
				theme: 'bootstrap',
				dropdownAutoWidth: true,
				width: 'auto'
			});

	});
</script>
{% endblock javascript %}
