{% extends 'sidebar.html' %}
{% block title %} Custom Fields{% endblock %}

{% block links %}
<li class="breadcrumb-item active">Custom Fields</li>
{% endblock links %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<div class="card shadow">
				<div class="card-body">
					<div class="div-wrapper mb-3">
							<div class="row no-gutters">
								<div class="col-6">
									<h5 class="card-title">Custom Fields</h5>
									</div>
									<div class="col-6">
										<a href="{% url 'cadmin:custom_field_add' pk %}" class="btn
											btn-outline-secondary pull-right">Create New</a>
									</div>
								</div>
							</div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Field Type</th>
								<th scope="col">Country</th>
							</tr>
						</thead>
						<tbody>
							{% for object in objects %}
							<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{object.name}}</td>
								<td>{{object.field_type}}</td>
								<td>{{object.country}}</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">
							No Custom fields yet
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
