{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Home {% endblock %} | Enkumo</title>
	<link rel="icon" href="{% static 'images/enkumo.svg' %}" type="image/gif" sizes="16x16">

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static  'bower_components/components-font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static  'bower_components/select2/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static  'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static  'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-lg bg-dark" style="z-index:9999">
	<a class="navbar-brand" href="{% url 'cadmin:index' %}">
		<img src="{% static 'images/enkumo.svg' %}" class="img-responsive" height="30" alt="">
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class='navbar-nav mr-auto'>
		</ul>
    <ul class="navbar-nav float-lg-right">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fa fa-user"></i>
					{{request.user}}</a>
      </li>
			&nbsp;
			<li class="nav-item">
				<a class="nav-link" href="{% url 'cadmin:logout_user' %}">
					<i class="fa fa-sign-out"></i>
					Sign Out</a>
      </li>

    </ul>

  </div>
</nav>
				<div class="container-fluid mt-2">
					<div class="row">
						<div class="col-12">
							{% if messages %}
									{% for message in messages %}
											<div class="shadow alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
												<center>{{message}}</center>
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
									{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
		{% block content %}
		{% endblock content %}
	
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/select2/dist/js/select2.min.js' %}"></script>
<script>
	$(".alert").delay(3000).slideUp(1000, function() {
			$(this).alert('close');
	});
</body>
</html>
