{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'images/enkumo.svg' %}" type="image/gif" sizes="16x16">
	<title>{% block title %}Home {% endblock %} | Enkumo</title>

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static  'bower_components/components-font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static  'bower_components/select2/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static  'css/dashboard.css' %}">

<link rel="stylesheet" href="{% static  'css/select2-bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static  'css/style.css' %}">
{% block style %}
{% endblock style %}
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top" style="z-index:9999">
	<a class="navbar-brand" href="{% url 'cadmin:index' %}">
		<img src="{% static 'images/enkumo.svg' %}" class="img-responsive"
																								height="30" alt=""> | 
																								<small>
																								{{company}}
																								</small>
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class='navbar-nav mr-auto'>
		</ul>
    <ul class="navbar-nav float-lg-right">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fa fa-user"></i>
					{{request.user}}</a>
      </li>
			&nbsp;
			<li class="nav-item">
				<a class="nav-link" href="{% url 'cadmin:logout_user' %}">
					<i class="fa fa-sign-out"></i>
					Sign Out</a>
      </li>

    </ul>

  </div>
</nav>
<div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar mt-2">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" style="border-bottom:1px dotted grey;"
																		href="{% url 'cadmin:index' %}">
									<i class="fa fa-building"></i><strong> {{company.name}}</strong>
								</a>
							</li>
              <li class="nav-item {% if url == 'profile' %} active {% endif %}">
                <a class="nav-link
								{% if url == 'profile' %}
								active
								{% endif %}
									" href="{% url 'cadmin:home' pk %}">
                  <span class="fa fa-users"></span>
                   Users<span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item
							{% if url == 'divison'%}
							active
							{% endif %}
									">
									<a class="nav-link 
								{% if url == 'divison'%}
									active
									{% endif %}
									" href="{% url 'cadmin:company_divisions' pk %}">
                  <span class="fa fa-columns"></span>
									Divisions
                </a>
              </li>

              <li class="nav-item
							{% if url == 'site'%}
							active
							{% endif %}
									">
									<a class="nav-link 
									{% if url == 'site' %}
									active
									{% endif %}
									" href="{% url 'cadmin:company_sites' pk %}">
                  <span class="fa fa-sitemap"></span>
									Sites
                </a>
              </li>
              <li class="nav-item
							{% if url == 'commodity'%}
							active
							{% endif %}
									">
									<a class="nav-link 
									{% if url == 'commodity' %}
									active
									{% endif %}
									" href="{% url 'cadmin:company_commodities' pk %}">
                  <span class="fa fa-tint"></span>
									Commodities
                </a>
              </li>
              <li class="nav-item
							{% if url == 'meter'%}
							active
							{% endif %}
									">
									<a class="nav-link 
									{% if url == 'meter' %}
									active
									{% endif %}
									" href="{% url 'cadmin:company_meters' pk %}">
                  <span class="fa fa-sort-numeric-desc"></span>
									Meters
                </a>
              </li>

              <li class="nav-item
							{% if url == 'custom_field'%}
							active
							{% endif %}
									">
									<a class="nav-link 
									{% if url == 'custom_field' %}
									active
									{% endif %}
									" href="{% url 'cadmin:custom_fields' pk %}">
                  <span class="fa fa-sort-numeric-desc"></span>
									Custom Fields
                </a>
              </li>

              <li class="nav-item
							{% if url == 'master_upload'%}
							active
							{% endif %}
									">
									<a class="nav-link 
									{% if url == 'master_upload' %}
									active
									{% endif %}
									" href="{% url 'cadmin:master_upload' pk %}">
										<span class='fa fa-upload'></span>
									<strong>
									Master Upload
									</strong>
                </a>
              </li>
              <li class="nav-item
							{% if url == 'custom_field_upload'%}
							active
							{% endif %}
									">
									<a class="nav-link 
									{% if url == 'custom_field_upload' %}
									active
									{% endif %}
									" href="{% url 'cadmin:custom_field' pk %}">
										<span class='fa fa-upload'></span>
									<strong>
									Custom Upload
									</strong>
                </a>
              </li>
              <li class="nav-item
							{% if url == 'consumtion'%}
							active
							{% endif %}
									">
									<a class="nav-link 
									{% if url == 'consumtion' %}
									active
									{% endif %}
									" href="{% url 'cadmin:consumtion_data_upload' pk %}">
										<span class='fa fa-upload'></span>
									<strong>
										Consumtion Data
									</strong>
                </a>
              </li>
            </ul>
          </div>
        </nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			{% block breadcrumb %}

				<div class="container-fluid mt-5">
					<div class="row">
						<div class="col-12">
							{% if messages %}
									{% for message in messages %}
											<div class="alert alert-{{ message.tags }}
												alert-dismissible fade show shadow" role="alert">
												<center>{{message}}</center>
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
									{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<nav aria-label="breadcrumb">
								{% block breadcrumbs %}
								<ol class="breadcrumb shadow">
									<li class="breadcrumb-item"><a href="{% url 'cadmin:index' %}">Home</a></li>
									{% block links %}
									{% endblock links %}
								</ol>
								{% endblock %}
							</nav>
						</div>
					</div>
				</div>
				{% endblock %}

			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap
				align-items-center mt-2 pb-2 mb-3 border-bottom">
			{% block content %}
			{% endblock content %}
			</main>
			</div>
	</div>
</div>
	
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/select2/dist/js/select2.min.js' %}"></script>
<script>
	$(".alert").delay(3000).slideUp(1000, function() {
			$(this).alert('close');
	});
</script>
{% block javascript %}
{% endblock %}
</body>
</html>
