﻿.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border : 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.asteriskField{
	color:red;
}

.breadcrumb-item active {
	color:black;
}
