{% extends 'sidebar.html' %}
{% block title %} Sites{% endblock %}

{% block links %}
<li class="breadcrumb-item active">Sites</li>
{% endblock links %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<div class="card shadow">
				<div class="card-body">
					<div class="div-wrapper mb-3">
							<div class="row no-gutters">
								<div class="col-6">
									<h5 class="card-title">Sites</h5>
									</div>
									<div class="col-6">
										<a href="{% url 'cadmin:company_site_add' pk %}" class="btn
											btn-outline-secondary pull-right">Create New</a>
									</div>
								</div>
							</div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">City</th>
								<th scope="col">Street</th>
								<th scope="col">Postal Code</th>
								<th scope="col">Country</th>
								<th scope="col">Division</th>
								<th scope="col">Supplier</th>
								<th scope="col">DNO</th>
								<th scope="col">Legal Entity Name</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for object in objects %}
							<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{object.name}}</td>
								<td>{{object.city}}</td>
								<td>{{object.street}}</td>
								<td>{{object.postal_code}}</td>
								<td>{{object.country}}</td>
								<td>{{object.division}}</td>
								<td>{{object.supplier}}</td>
								<td>{{object.dno}}</td>
								<td>{{object.legal_entity_name}}</td>
								<td>
									<a class="btn btn-outline-secondary" href="{% url 'cadmin:company_site_edit' pk object.pk %}"> Edit</a>
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">
							No sites yet
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
