{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} Edit Site{% endblock %}
{% block links %}
<li class="breadcrumb-item"> <a href="{% url 'cadmin:company_sites' company.pk %}">Sites</a> </li>
<li class="breadcrumb-item active">Sites Edit</li>
{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Edit Site {{site.name}}</h5>
					<hr>
					<div class="">
						<form method="POST">
							{% csrf_token %}

							<div class="form-row col-md-12">
									<div class="form-group col-md-6">
												{{form.name|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.street|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.city|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.postal_code|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.division|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.supplier|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.dno|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.legal_entity_name|as_crispy_field}}
									</div>
							</div>

									<div class="custom_fields">
										<div class="row">
											<div class="col-12">
										<h5>Custom Fields</h5>
										<hr>

										<div class="form-row col-12">
									{% for val in custom_field_values %}
									<div class="form-group col-md-6" id="div_id_{{val.field.name}}">
										<label class="" for="id_legal_entity_name">{{val.field.name}} 
											<span class="asteriskField">*</span>
										</label>
									<div class="">
										<input class="{{val.field.field_type}}input
										{{val.field.fieldfield_type}}Input form-control" 
										id="id_{{val.field.name}}" 
										{% if val.field.field_type == 'text' %} maxlength="125" {% endif %} 
										name="{{val.field.name}}" type="text" value="{{val.value}}"
										required>
									</div>
								</div>

									{% endfor %}
							</div>
											</div>
										</div>
									</div>
							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock content %}
	{% block javascript %}
	<script>
			$("select").select2({
				theme: 'bootstrap',
				dropdownAutoWidth: true,
				width: 'auto'
			});


	</script>

	{% endblock javascript %}
