{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %} Site Create{% endblock %}

{% block links %}
<li class="breadcrumb-item"> <a href="{% url 'cadmin:company_sites' company.pk %}">Sites</a> </li>
<li class="breadcrumb-item active">Sites Create</li>
{% endblock links %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Add Site</h5>
					<hr>

					<div class="">
						<form method="POST">
							{% csrf_token %}

							<div class="form-row col-md-12">
									<div class="form-group col-md-6">
												{{form.name|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.street|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.city|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.postal_code|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.country|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.division|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.supplier|as_crispy_field}}
									</div>
									<div class="form-group col-md-6">
												{{form.dno|as_crispy_field}}
									</div>
									<div class="form-group col-md-12">
												{{form.legal_entity_name|as_crispy_field}}
									</div>
							</div>
							<div class="">
									<h5>Custom Fields</h5>
									<hr>
									
									<div id="id_custom_fields">
									</div>
							</div>

							<div class="form-group col-12">
									<button class="btn btn-outline-secondary" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock content %}
	{% block javascript %}
	<script>

			$("select").select2({
				theme: 'bootstrap',
				dropdownAutoWidth: true,
				width: 'auto'
			});

$("#id_country").change(function(){
	$("#id_custom_fields").empty();

	let country_id = $(this).val();
	let company_id = {{company.pk}};

	let uri  = "/api/account/get-custom-fields/?company="+ company_id + "&country=" + country_id
	$.ajax({
    type: "GET",
		url : uri,
		success : function(data){
			$.each(data, function(key, value){
				console.log(value);
				let field_type = value.field_type
				let name = value.name
				let input = "<div class='form-group col-12'> <div id='div_id_" + name + " 'class='form-group'> <label for='id_" + name +
					"' class='requiredField'>"+ name+"<span class='asteriskField'>*</span> </label> <div class=''><input type="+ field_type +" name='" +name+"' maxlength='100' class='"+field_type +"input form-control' required='' id='id_" + name+ "'> </div> </div> </div>"
				$("#id_custom_fields").append(input);
			})
		}

	});


})


	</script>

	{% endblock javascript %}
